* {
    padding: 0 px;
    margin: 0 px;
}

html {
    scroll-behavior: smooth;
}

body [url] {
    height: auto;
    width: auto;
}

:root {
    --navbar-height: 20px;
}

#navbar {
    flex-direction: column;
    position: sticky;
}

#navbar ul li a {
    font-size: 1em;
    margin-left: 0rem;
    margin-right: -1rem;
    margin-top: 10%;
}

/* #navbar::before {
    content: "";
    position: absolute;
    width: 100%;
} */

#logo {
    display: block;
    margin: auto;
}

#portfolio {
    display: grid;
    padding: 0%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery {
    height: fit-content;
    width: fit-content;
    padding: 0%;
}

.gallery img {
    padding: 1%;
    padding-right: 1%;
    margin-right: 9%;
}

#d img {
    height: 98%;
    width: 77%;
    margin-left: 1rem;
}

#e img {
    height: 63%;
    width: 150%;
}

#l img {
    height: 98%;
    width: 77%;
    margin-left: 1rem;
}

#i img {
    height: 109%;
    width: 137%;
    margin-left: 0.1rem
}

#j img {
    height: 109%;
    width: 80%;
    margin-left: 10%;
}

#k img {
    height: 108%;
    width: 126%;
}

/* #a img{
    margin-left: 1rem;
}

#c img {
    margin-right: 1rem;
} */

.center {
    text-align: center;
}

.h-primary {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
    padding: 12px;
}

.contactme-center {
    margin-top: 76%;
    color: #ffffffc7;
    background-color: #ccc9c914;
    justify-content: center;
}

.contactme-center ul {
    display: flex;
    margin-left: -2rem;
}

.contactme-center ul li {
    list-style: none;
    margin-left: 7.5vw;
}

.contactme-center ul li img {
    display: block;
    height: 5rem;
    width: 5rem;
    padding: 3vw;
    margin: 0.3vw;
    filter: invert();
}
