* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Libre Caslon Display', serif;
    font-family: 'Alata', sans-serif; */
    font-family: 'Libre Caslon Display', serif;
    background: url('../images/bg01.jpg')fixed center center/cover;
    margin-top: 0px;
}

:root {
    --navabar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: #ccc9c9;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(25px);
}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
    filter: none;
    transform: none;
}

#navbar ul {
    display: flex;
    font-family: 'Alata', sans-serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    text-decoration: none;
    color: #2b2a2a;
    padding: 3px 30px;
    border-radius: 4px;
    display: block;
}

#navbar ul li a:hover {
    color: black;
}

#portfolio {
    display: grid;
    flex-direction: row;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.grid #d {
    grid-column: 1/ span 2;
}

.grid #l {
    grid-column: 1/ span 2;
}

/* .grid #j{
    grid-column: 1/ span 2;
} */

.gallery {
    height: auto;
    width: auto;
    display: block;
    margin: 10px 10px;
    padding: 10px;
}

.gallery img {
    height: auto;
    width: 27vw;
}

img:hover {
    transform: scale(1.2);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#d img {
    height: 20rem;
    width: 36rem;
    margin-left: 1em;
}

#e img {
    float: right;
    height: 100%;
    width: 138%;
}

#l img {
    height: 20rem;
    width: 32rem;
    margin-left: 1em;
}

#m img {
    height: 100%;
    float: right;
    width: 150%;
}

#i img {
    height: 90%;
    float: left;
    width: 110%;
}

#j img {
    height: 100%;
    width: 86%;
    margin-left: -5px;
}

#k img {
    height: 88%;
    float: right;
    width: 124%;
}

#contact {
    position: relative;
    /* margin-top: 150%; */
}

.h-primary {
    font-family: 'Alata', sans-serif;
    font-size: 3.8rem;
    padding: 12px;
}

.center {
    text-align: center;
}

footer {
    margin-top: auto;
    display: block;
    font-size: 18px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255, 0.42);
}

.contactme-center {
    margin-top: 130%;
    color: #ffffffc7;
    background-color: #ccc9c914;
    justify-content: center;
}

.contactme-center ul {
    display: flex;
    margin-left: 23%;
}

.contactme-center ul li {
    list-style: none;
}

.contactme-center ul li img {
    display: block;
    height: 100px;
    width: 100px;
    padding: 5em;
    margin: auto;
    filter: invert();
}